---
---

@import "variables";

@import "syntax_{{ site.syntax_theme }}";

html,
body {
  font-family: "Maven Pro", sans-serif;
  color: $font-color;
  background-color: $primary-color;
  font-size: 1.2rem;
  line-height: 1.6;
  text-align: justify;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  letter-spacing: 0.07rem;
}

h1 {
  font-size: 5.08rem;
  margin-top: 5.02rem;
  margin-bottom: 1.92rem;
}

h2 {
  font-size: 3.14rem;
  margin-top: 3.11rem;
  margin-bottom: 1.92rem;
}

h3 {
  font-size: 1.94rem;
  margin-top: 3.11rem;
  margin-bottom: 1.92rem;
}

h4 {
  font-size: 1.5rem;
  a.category {
    color: inherit;
  }

  a.tag {
    font-size: 1rem;
  }
}

h5 {
  font-size: 1.3rem;
}

small {
  font-size: 80%;
}

p {
  padding: 0.5rem 0rem;
  line-height: 1.5;

  max-width: 80ch;
  @media (min-width: 768px) {
    padding: 0.3rem 0rem;
    line-height: 1.6;
  }
}

// Justify the author blurb text and ensure proper centering within parent
.blurb {
  text-align: justify;
  margin-left: auto;
  margin-right: auto;
}

// Utility class for text justification
.text-justify {
  text-align: justify;
}

a {
  color: $secondary-color;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  &:hover,
  &:focus {
    color: darken($secondary-color, 20%);
  }
}

.nav-item {
  text-align: left;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
  &:hover {
    outline: none;
    background-color: rgba($font-color, 0.3);
  }
  &:focus,
  &:active {
    outline: none;
    background-color: rgba($font-color, 0.3);
  }
  &.active {
    outline: none;
    a {
      background-color: rgba($font-color, 0.3);
      &:hover {
        color: $font-color;
      }
    }
  }
}

.navbar-custom {
  margin-bottom: 0;
  border-bottom: 0.0625rem solid rgba($font-color, 0.3);
  text-transform: uppercase;
  background-color: $primary-color;
  overflow-y: auto;
  @media (min-width: 768px) {
    padding: 1.25rem 0;
    border-bottom: none;
    letter-spacing: 1px;
    background: transparent;
    -webkit-transition:
      background 0.5s ease-in-out,
      padding 0.5s ease-in-out;
    -moz-transition:
      background 0.5s ease-in-out,
      padding 0.5s ease-in-out;
    transition:
      background 0.5s ease-in-out,
      padding 0.5s ease-in-out;
    &.top-nav-collapse {
      padding: 0;
      background: $primary-color;
      border-bottom: 0.0625rem solid rgba($font-color, 0.3);
    }
  }
  .navbar-toggler {
    padding: 0.25rem 0.375rem;
    color: $font-color;
    &:focus,
    &:active {
      outline: none;
    }
  }
  a {
    color: $font-color;
  }
  .nav {
    text-align: left;
  }
}

.navbar-brand {
  font-size: 1.3rem;
}

.intro {
  display: table;
  width: 100%;
  height: auto;
  text-align: center;
  padding-top: 20rem;
  color: $font-color;
  background-color: $primary-color;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  .intro-body {
    display: table-cell;
    vertical-align: middle;
    .brand-heading {
      font-size: 2.5rem;
    }
    .intro-text {
      font-size: 1.3rem;
    }
  }
  @media (min-width: 768px) {
    height: 100%;
    .intro-body {
      .brand-heading {
        font-size: 6.25rem;
      }
      .intro-text {
        font-size: 1.6rem;
      }
    }
  }
  @media (min-width: 1200px) {
    padding-top: 30rem;
  }
}

@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@-moz-keyframes pulse {
  from {
    -moz-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -moz-transform: scale(1.2);
    transform: scale(1.2);
  }

  100% {
    -moz-transform: scale(1);
    transform: scale(1);
  }
}

.content-section {
  margin-top: 5.02rem;
  padding-top: 5.02rem;
  @media (min-width: 768px) {
    margin-top: 7.8125rem;
    padding-top: 7.8125rem;
  }
  img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    border-radius: 0.3125rem;
  }
  ul,
  ol {
    text-align: left;
    margin: 0 0 1.5625rem;
    line-height: 1.5;
    list-style-position: inside;
  }
  pre {
    padding: 0;
    border-radius: 0.3125rem;
    > code {
      text-align: left;
    }
  }
  img.emoji {
    margin: 0 !important;
    display: inline !important;
  }

  blockquote {
    border-left: 0.25rem solid $secondary-color;
    margin: 1.5rem 0;
    padding: 1rem 1.5rem;
    background-color: rgba($secondary-color, 0.05);
    border-radius: 0.25rem;
    font-style: italic;
    color: darken($font-color, 10%);

    p {
      margin-bottom: 0;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &#post {
    div.author img {
      border: 0;
      margin-bottom: 1.25rem;
      padding: 0.25rem;
      border-radius: 50%;
    }
  }

  // Center paragraphs when section has text-center class
  &.text-center p {
    margin: 1.5rem auto;
    padding: 1rem 1.25rem;
    text-align: center;
  }
}

.btn {
  border-radius: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.btn-default {
  color: $secondary-color;
  background-color: transparent;
}

.btn-default:hover,
.btn-default:focus {
  outline: 0;
  color: #222222;
  background-color: $secondary-color;
}

ul.social-buttons li a {
  display: block;
  width: 3.11rem;
  height: 3.11rem;
  border-radius: 100%;
  line-height: 3.11rem;
  font-size: 1.5rem;
  outline: 0;
  color: $secondary-color;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;

  &:hover,
  &:focus,
  &:active {
    color: #222;
    background-color: darken($secondary-color, 10%);
  }
}

.img-me {
  width: 8.12rem;
  height: 8.12rem;
  border: 0.4375rem solid $background-color;
  border-radius: 100%;
  background-color: $background-color;
  color: #f2f2f2;

  display: block;
  margin: 0 auto;
  cursor: pointer;
}

.post-list {
  text-align: left;
  padding-left: 0;
  list-style: none;

  li {
    list-style-position: outside;

    margin-bottom: 1.5rem;
  }
}

.post-list-item {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  margin-bottom: 1.92rem;
  border-bottom: 1px dashed rgba($font-color, 0.2);
  padding-bottom: 1.92rem;
}

.post-date {
  flex: 0 0 7rem;
  margin-right: 0.73rem;
  color: lighten($font-color, 20%);
  font-size: 0.9em;
}

.post-category {
  margin-right: 0.73rem;
  font-size: 0.9em;
  text-align: center;
}

.post-title {
  flex-grow: 1;
  font-weight: bold;
  text-align: left;
  a {
    color: $font-color;
    &:hover {
      color: $secondary-color;
    }
  }
}

.post-comments {
  margin-left: 0.73rem;
  font-size: 0.8em;
}

.post-list-container {
  margin-top: 3.11rem;
}

footer {
  padding: 3.11rem 0;
  text-align: center;
  .container {
    margin: 1.5rem auto;
    padding: 1rem 1.25rem;
  }
  p {
    margin: 1.5rem auto;
    padding: 1rem 1.25rem;
    text-align: center;
  }
}

::-moz-selection {
  text-shadow: none;
  background: #fcfcfc;
  background: rgba($font-color, 0.2);
}

::selection {
  text-shadow: none;
  background: #fcfcfc;
  background: rgba($font-color, 0.2);
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

em {
  display: inline;
}

body {
  -webkit-tap-highlight-color: rgba($font-color, 0.2);
}

.typed-cursor {
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
  font-size: 110%;
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.timeline {
  position: relative;
  padding: 0;
  margin-left: 0;
  padding-left: 0;
  list-style: none;
}

.timeline:before {
  content: "";
  position: absolute;
  top: 3rem;
  bottom: 1rem;
  width: 0.4375rem;
  left: 2.31rem;
  background-color: $background-color;
}

.timeline > li {
  position: relative;
  margin-bottom: 3.125rem;
  min-height: 3.125rem;
}

.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}

.timeline > li:after {
  clear: both;
}

.timeline > li .timeline-panel {
  float: right;
  position: relative;
  width: 100%;
  padding: 0 1.25rem 0 6.25rem;
  text-align: left;
}

.timeline > li .timeline-panel:before {
  right: auto;
  left: -0.9375rem;
  border-right-width: 0.9375rem;
  border-left-width: 0;
}

.timeline > li .timeline-panel:after {
  right: auto;
  left: -0.875rem;
  border-right-width: 0.875rem;
  border-left-width: 0;
}

.timeline > li .timeline-image {
  z-index: 100;
  position: absolute;
  left: 0;
  width: 5.02rem;
  height: 5.02rem;
  border: 0.4375rem solid $background-color;
  border-radius: 100%;
  text-align: center;
  color: #f2f2f2;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
  }
}

.timeline > li .timeline-image h4 {
  margin-top: 0.75rem;
  font-size: 0.625rem;
  line-height: 0.875rem;
}

.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
  padding: 0 1.25rem 0 6.25rem;
  text-align: left;
}

.timeline > li.timeline-inverted > .timeline-panel:before {
  right: auto;
  left: -0.9375rem;
  border-right-width: 0.9375rem;
  border-left-width: 0;
}

.timeline > li.timeline-inverted > .timeline-panel:after {
  right: auto;
  left: -0.875rem;
  border-right-width: 0.875rem;
  border-left-width: 0;
}

.timeline > li:last-child {
  margin-bottom: 0;
}

.timeline .timeline-heading h4 {
  margin-top: 0;
  color: inherit;
}

.timeline .timeline-heading h4.subheading {
  text-transform: none;
}

.timeline .timeline-body > p,
.timeline .timeline-body > ul {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .timeline:before {
    left: 50%;
    transform: translateX(-50%);
    width: 0.4375rem;
  }

  .timeline > li {
    margin-bottom: 6.25rem;
    min-height: 6.25rem;
  }

  .timeline > li .timeline-panel {
    float: left;
    width: 41%;
    padding: 0 1.25rem 1.25rem 1.875rem;
    text-align: right;
  }

  .timeline > li .timeline-image {
    left: 50%;
    transform: translateX(-50%);
    width: 6.25rem;
    height: 6.25rem;
  }

  .timeline > li .timeline-image h4 {
    margin-top: 1rem;
    font-size: 0.8125rem;
    line-height: 1.125rem;
  }

  header.intro .img-me {
    width: 13.13rem;
    height: 13.13rem;
  }
}

@media (min-width: 992px) {
  .timeline:before {
    width: 0.4375rem;
  }
  .timeline > li {
    min-height: 9.375rem;
  }

  .timeline > li .timeline-panel {
    padding: 0 1.25rem 1.25rem;
  }

  .timeline > li .timeline-image {
    width: 9.375rem;
    height: 9.375rem;
  }

  .timeline > li .timeline-image h4 {
    margin-top: 1.875rem;
    font-size: 1.9rem;
    line-height: 1.625rem;
  }
}

@media (min-width: 1200px) {
  .timeline > li {
    min-height: 10.625rem;
  }

  .timeline > li .timeline-panel {
    padding: 0 1.25rem 1.25rem 6.25rem;
  }

  .timeline > li .timeline-image {
    width: 9.75rem;
    height: 9.75rem;
  }

  .timeline > li .timeline-image h4 {
    margin-top: 2.5rem;
  }
}

.highlight {
  border-radius: 0.3125rem;
  overflow-x: auto;
  max-width: 80ch;
  margin: 1.5rem auto;
  padding: 1rem 1.25rem;
}
