---
---

@import "variables";
@import "mixins";


body {
    width: 100%;
    height: 100%;
    font-family: "Lora","Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #ffffff;
    background-color: $primary-color;
}

/* Added in { Personal } */

p {
    margin: 0 0 25px;
    font-size: 18px;
    line-height: 1.5;
    color: #ff88;
    @media(min-width:768px) {
        margin: 0 0 35px;
        font-size: 20px;
        line-height: 1.6;
    }
}
