<!-- HEAD Start -->

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="{{site.description}}" />
  <meta name="author" content="{{site.author}}" />
  <meta name="keywords" content="{{site.keywords}}" />
  <link
    rel="canonical"
    href="{{page.url | replace:'index.html','' | prepend: site.repository_name}}"
  />
  <title>{{site.title}}{% if page.title %} | {{page.title}}{% endif %}</title>

  <!-- Bootstrap Core CSS -->
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.css"
  />

  <!-- CSS links -->
  <link href="{{site.repository_name}}/css/grayscale.css" rel="stylesheet" />
  
  {% if page.section-type == "index" %}
    <link href="{{site.repository_name}}/css/timeline.css" rel="stylesheet" />
  {% endif %}

  {% if page.layout == "post" %}
    {% include syntax-highlight.html %} 
    <link rel="stylesheet" href="/css/rrssb.css" />
  {% endif %}

  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400..900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />

  {% if site.favicon %}
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="{{site.repository_name}}{{site.favicon}}"
    />
  {% endif %} 

  {% if page.url == "/404.html" | prepend: {{site.repository_name}} %}
    <meta http-equiv="refresh" content="20; url={{site.repository_name}}/" />
  {% endif %} 

  {% include web-app.html %} 

  {% include color-browser.html %} 

  {% if site.google-tracking-id %}

  <!-- Cookie Consent by TermsFeed https://www.TermsFeed.com -->
  <script
    type="text/javascript"
    src="https://www.termsfeed.com/public/cookie-consent/4.1.0/cookie-consent.js"
    charset="UTF-8"
  ></script>

  <script type="text/javascript" charset="UTF-8">
    document.addEventListener("DOMContentLoaded", function () {
      cookieconsent.run({
        notice_banner_type: "simple",
        consent_type: "express",
        palette: "light",
        language: "en",
        page_load_consent_levels: ["strictly-necessary"],
        notice_banner_reject_button_hide: false,
        preferences_center_close_button_hide: false,
        page_refresh_confirmation_buttons: false,
        website_name: "{{ site.url }}",
      });
    });
  </script>

  <!-- Google Analytics -->

  <script
    type="text/plain"
    data-cookie-consent="tracking"
    async
    src="https://www.googletagmanager.com/gtag/js?id={{site.google-tracking-id}}"
  ></script>
  <script type="text/plain" data-cookie-consent="tracking">
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', '{{site.google-tracking-id}}');
  </script>

  <!-- Google Analytics -->

  {% endif %}
</head>

<!-- HEAD End -->
