<!-- Intro Start -->

<header class="intro">
  <div class="intro-body">
    <div class="container">
      <div class="row">
          <div class="col-md-10 col-md-offset-1">
		
            <h3 class="brand-heading">Saturday December 2<br/>1-10 pm</h3>

            <span class="brand-heading intro-text">{{ content }}</span>

		<span class="brand-heading">
			<button class="btn btn-xlg btn-success" type="button" onclick="window.location = 'https://www.eventbrite.com/e/open-data-winnipeg-2017-tickets-39533118622';">
				Register Now - Free
			</button>
		</span>
	     </span>
          </div>
        </div>
      <div class="row">
          <div class="col-md-10 col-md-offset-1">
		<h4>&nbsp;</h4>
		<h4>&nbsp;</h4>
		<h4>&nbsp;</h4>
		<h4>Help Organize</h4>
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="input-group input-group-lg">
					<input type="text" class="form-control" id="slack-invite-email" placeholder="Your Email Address">
					<span class="input-group-btn">
						<button class="btn btn-primary" type="button" onclick="sendInvite( )" id="slack-invite-join">Join Slack</button>
					</span>
				</div>
			</div>
		</div>

		<!--
            <a href="#{{ site.pages_list['About'] }}" class="page-scroll">
              {% if site.me-img contains "https://" %}
                <img class="img-me" src="{{ site.me-img }}" alt="">
              {% else %}
                <img class="img-me" src="{{site.baseurl}}{{ site.me-img }}" alt="">
              {% endif %}
            </a>
		-->
          </div>
        </div>
    </div>
  </div>
</header>

<!-- Intro End -->
