
<!-- Latest Post Preview Start -->

<section id="{{ page.section-type }}" class="container content-section text-center">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">

        {{ page.content | markdownify }}

        {% assign post = site.posts.first %}
        <h4> <strong> {{ post.date | date_to_string }} </strong>
          <small>.
            <a class="category" href="{{site.baseurl}}/categories/{{post.category | downcase}}.html">
              {{ post.category }}
            </a>
          .</small>
          <strong> <a href="{{site.baseurl}}{{ post.url }}">{{post.title}} </a> </strong>
          <small> <a href="{{site.baseurl}}{{post.url}}#disqus_thread">Comments</a></small>
        </h4>

        <section class="text-justify">
          {{ post.content | strip_html | markdownify | truncatewords: site.post-preview-words }}
        </section>

        <h4><a href="{{site.baseurl}}/blog/">Archive</a></h4>

      </div>
    </div>
</section>

<!-- Latest Post Preview End -->
