<!-- Navigation Start -->

<nav class="navbar navbar-expand-lg navbar-custom fixed-top" role="navigation">
  <div class="container">
    <a
      class="navbar-brand page-scroll"
      href="{% if page.section-type == 'index' %}#page-top{% else %}{{site.url}}{% endif %}"
      aria-controls="navbarNav"
      aria-label="Collapse navigation"
    >
      <div>{{ site.title }}</div>
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fa fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        {% if page.section-type == "index" %} 
          {% for p in site.pages_list %}
            <li class="nav-item pe-2 ps-2">
              <a class="nav-link page-scroll" href="#{{ p[1] }}">{{ p[0] }}</a>
            </li>
          {% endfor %} 
        {% else %} 
        {% for p in site.pages_list %}
          <li class="nav-item pe-2 ps-2">
            {% if p[1] == "latest-post" %} {% if page.url == "/blog/index.html" %}
            <a class="nav-link page-scroll" href="#page">{{ p[0] }}</a>
            {% else %}
          <a class="nav-link pe-2 ps-2" href="{{site.url}}/blog/">{{ p[0] }}</a>
            {% endif %} {% else %}
          <a class="nav-link pe-2 ps-2" href="{{site.url}}/#{{ p[1] }}">{{ p[0] }}</a>
            {% endif %}
          </li>
          {% endfor %} 
        {% endif %}
      </ul>
    </div>
  </div>
</nav>

<!-- Navigation End -->
