
<!-- Pagination Links Start -->

<div>

<p> &nbsp;

<!--   {% if paginator.previous_page and paginator.next_page%}
    <h4>
        <a href="{{site.baseurl}}{{ paginator.previous_page_path }}" class="previous">Newer Posts</a>
        <a href="{{site.baseurl}}{{ paginator.next_page_path }}" class="next">Older Posts</a>
    </h4>
  {% endif %} -->

  {% if paginator.previous_page %}
    {% if paginator.next_page %}
      <h4 class="col-md-4"><a href="{{site.baseurl}}{{ paginator.previous_page_path }}" class="previous">Newer Posts</a></h4>
    {% else %}
      <h4 class="col-md-offset-4 col-md-4"><a href="{{site.baseurl}}{{ paginator.previous_page_path }}" class="previous">Newer Posts</a></h4>
    {% endif %}
  {% endif %}

  {% if paginator.next_page %}
    <h4 class="col-md-offset-4 col-md-4"><a href="{{site.baseurl}}{{ paginator.next_page_path }}" class="next">Older Posts</a></h4>
  {% endif %}

</div>

<!-- Pagination Links End -->
