<!-- Pagination links -->

<div class="pagination">

  {% if paginator.previous_page and paginator.next_page%}
    <h4>
        <a href="{{ paginator.previous_page_path }}" class="previous">Newer Posts</a>  <a href="{{ paginator.next_page_path }}" class="next">Older Posts</a>
    </h4>
  {% endif %}

  {% if paginator.previous_page %}
    <h4><a href="{{ paginator.previous_page_path }}" class="previous">Newer Posts</a></h4>
  {% endif %}

  {% if paginator.next_page %}
    <h4><a href="{{ paginator.next_page_path }}" class="next">Older Posts</a></h4>
  {% endif %}
</div>
