<!-- Post List Start -->

<h4 align="left">
  <strong>{{ post.date | date_to_string }}</strong>
  <small
    >.
    <a
      class="category"
      href="{{site.repository_name}}/categories/{{ post.category | downcase }}.html"
    >
      {{ post.category }}
    </a>
    .</small
  >
  <br class="visible-xs-block" />
  <a href="{{site.repository_name}}{{post.url}}">
    <strong>{{ post.title }}</strong>
  </a>
  <br class="visible-xs-block" />
  <small
    ><a href="{{site.repository_name}}{{post.url}}#disqus_thread"
      >Comments</a
    ></small
  >
</h4>

<!-- Post List End -->
