
<!-- Post List Start -->

<h4 align="left">
  <strong>{{ post.date | date_to_string }}</strong>
  <small>.
  {% for category in post.categories %}
    <a class="category" href="{{site.baseurl}}/categories/{{ category | downcase }}.html">
      {{ category }}
    </a>
    {% if category != post.categories.last %}
      |
    {% endif %}
  {% endfor %}
  .</small>
  <br class="visible-xs-block">
  <a href="{{site.baseurl}}{{post.url}}">
    <strong>{{ post.title }}</strong>
  </a>
  <br class="visible-xs-block">
  <small><a href="{{site.baseurl}}{{post.url}}#disqus_thread">Comments</a></small>
</h4>

<!-- Post List End -->
