<!-- Timeline Start -->

<section
  id="{{ page.section-type }}"
  class="container content-section text-center"
>
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      {{ page.content | markdownify }}

      <ul class="timeline">
        {% for event in site.events %} {% assign loopindex = forloop.index |
        modulo: 2 %} {% capture class %} {% if loopindex == 0 %}
        timeline-inverted {% endif %} {% endcapture %}

        <li {% if event.dialog %}class="link" onclick="dialogTimeline('{{ event.dialog }}')" {% endif %}>
          <div class="timeline-image">
            <img
              class="img-circle img-responsive"
              src="{{site.baseurl}}{{ event.image }}"
              alt=""
            />
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4>{{ event.date }}</h4>
            </div>
            <div class="timeline-body">
              {{ event.description | markdownify }}
            </div>
          </div>
        </li>
        {% endfor %}

        <li class="timeline-inverted">
          <div class="timeline-image">
            <img
              class="img-circle img-responsive"
              src="{{site.baseurl}}{{ site.timeline-img }}"
              alt=""
            />
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>

{% for event in site.events %}
  {% if event.dialog %}
    <dialog id="dialog_{{ event.dialog }}">
      <div class="content">
        {% include timeline/{{ event.dialog }}.html %}
      </div>
      <footer>
        <button onclick="closeDialogTimeline('{{ event.dialog }}')">Close</button>
      </footer>
    </dialog>
  {% endif %}
{% endfor %}

<script>
  const dialogTimeline = (type) => {
    document.getElementById(`dialog_${type}`).showModal()
  }
  const closeDialogTimeline = (type) => {
    document.getElementById(`dialog_${type}`).close()
  }
</script>

<style>
dialog {
  animation: fade-out 0.3s ease-out;
}

dialog[open] .content {
  flex-grow: 1;
  overflow: auto;
}

dialog[open] footer {
  padding: 20px;
}

dialog[open] {
  animation: fade-in 0.3s ease-out;
  height: 80vh;
  width: 50vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

dialog[open]::backdrop {
  animation: backdrop-fade-in 0.3s ease-out forwards;
}


@keyframes fade-in {
  0% {
    opacity: 0;
    transform: scaleY(0);
    display: none;
  }

  100% {
    opacity: 1;
    transform: scaleY(1);
    display: block;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
    transform: scaleY(1);
    display: block;
  }

  100% {
    opacity: 0;
    transform: scaleY(0);
    display: none;
  }
}

@keyframes backdrop-fade-in {
  0% {
    background-color: rgb(0 0 0 / 0%);
  }

  100% {
    background-color: rgb(0 0 0 / 25%);
  }
}  
</style>
<!-- Timeline End -->
