<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

  {% include head.html %}

  <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

  {% include navigation.html %}

  <section id="{{ page.title }}" class="container content-section text-center">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">

      {{ page.content | markdownify }}

      {% for post in paginator.posts %}
        <h4 align="left"><strong>{{ post.date | date_to_string }}</strong> <small>. {{ post.category }} .</small> <a href="{{ post.url }}"> <strong>{{ post.title }} </strong> </a> <small><a href="{{ post.url }}#disqus_thread">Comments</a></small></h4>
      {% endfor %}

      <!-- Pagination links -->
      <div class="pagination">

        {% if paginator.previous_page and paginator.next_page%}
          <h4>
              <a href="{{ paginator.previous_page_path }}" class="previous">Newer Posts</a>  <a href="{{ paginator.next_page_path }}" class="next">Older Posts</a>
          </h4>
        {% endif %}

        {% if paginator.previous_page %}
          <h4><a href="{{ paginator.previous_page_path }}" class="previous">Newer Posts</a></h4>
        {% endif %}

        {% if paginator.next_page %}
          <h4><a href="{{ paginator.next_page_path }}" class="next">Older Posts</a></h4>
        {% endif %}

        </div>
      </div>
    </div>
  </section>

  <section id="{{ page.title }}" class="container content-section text-center">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
	       {% include social-buttons.html %}
      </div>
    </div>
  </section>

  {% include footer.html %}

  {% include js.html %}

</body>
</html>
