
<!-- Blog Layout Start -->

<!DOCTYPE html>
<html lang="{{ site.lang }}">

  {% include head.html %}

  <body>

    {% include navigation.html %}

    <section id="page" class="container content-section text-center">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 col-xs-10 col-xs-offset-1">

        {{ page.content | markdownify }}

        <div>
          {% for post in paginator.posts %}
            <h4 align="left"><strong>{{ post.date | date_to_string }}</strong> <small>. {{ post.category }} .</small> <br class="visible-xs-block visible-sm-block"><a href="{{site.baseurl}}{{post.url}}"> <strong>{{ post.title }}</strong> </a> <br class="visible-xs-block visible-sm-block"><small><a href="{{site.baseurl}}{{post.url}}#disqus_thread">Comments</a></small></h4>
          {% endfor %}
        </div>

        {% include pagination.html %}

        {% include social-buttons.html %}

        </div>
      </div>

      <!-- Paginator arrows -->
      {% if paginator.previous_page %}
      <a class="left carousel-control" href="{{site.baseurl}}{{paginator.previous_page_path}}" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      {% endif %}
      {% if paginator.next_page %}
      <a class="right carousel-control" href="{{site.baseurl}}{{paginator.next_page_path}}" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
      {% endif %}
    </section>

    {% include footer.html %}

    {% include js.html %}

  </body>
</html>

<!-- Blog Layout End -->
