<!-- Post Layout Start -->

<!doctype html>
<html lang="{{ site.lang }}">
  {% include head.html %}

  <body>
    {% include navigation.html %}

    <section id="post" class="container content-section text-center">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <h1><strong>{{ page.title }}</strong></h1>
          <h4>
            <strong>{{ page.date | date_to_string }}</strong>
            <small>
              .
              <a
                class="category"
                href="{{site.repository_name}}/categories/{{page.category | downcase}}.html"
              >
                {{ page.category }} </a
              >.
              <a href="{{site.repository_name}}{{page.url}}#disqus_thread"
                >Comments</a
              >
              <br />
              {% for tag in page.tags %}
              <a
                class="tag"
                href="{{site.repository_name}}/tags/{{tag | downcase}}.html"
                >#{{ tag }}</a
              >
              {% endfor %}
            </small>
          </h4>

          <section class="text-justify">
            {{ page.content | markdownify }}
          </section>

          {% include share.html %} {% include comments.html %}

          <hr />

          {% if site.author_blurb %}
          <div class="author row">
            <img
              class="col-xs-4 col-sm-3 col-md-2"
              src="{{site.repository_name}}{{site.author_blurb_image}}"
              alt="Me"
            />
            <p class="col-xs-8 col-sm-9 col-md-10">{{ site.author_blurb }}</p>
          </div>
          {% endif%}
        </div>
      </div>
    </section>

    {% include footer.html %} {% include js.html %}
  </body>
</html>

<!-- Post Layout End -->
