
<!-- Tag Layout Start -->

<!DOCTYPE html>
<html lang="{{ site.lang }}">

  {% include head.html %}

  <body>

    {% include navigation.html %}

    <section class="container content-section text-center">
      <div class="row">
        <div class="col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1">

          {% assign tag = page.title %}

          <h3 id="#{{ tag }}">#{{ tag }}</h3>

          <div>
            {% for post in site.posts %}
              {% for t in post.tags %}
                {% capture tg %}{{ t | downcase }}{% endcapture %}
                {% if tg == tag %}
                  {% include post-list.html%}
                {% endif %}
              {% endfor %}
            {% endfor %}
          </div>

        </div>
      </div>
    </section>

    {% include footer.html %}

    {% include js.html %}

  </body>
</html>

<!-- Tag Layout End -->
