name: CI

on:
  pull_request:
    branches:
      - main
      - develop

jobs:
  build-and-validate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: "3.1.1"

      - name: Update RubyGems
        run: gem update --system

      - name: Install dependencies
        run: bundle install

      - name: Build site
        run: bundle exec jekyll build

      - name: Validate HTML and check links
        uses: chabad360/htmlproofer@master
        with:
          directory: ./_site
          arguments: |
            --ignore-urls "/^http://localhost/,/^https://fonts.googleapis.com/,/^https://fonts.gstatic.com/,/^https://cdnjs.cloudflare.com/"
            --ignore-status-codes "403,429,999"
            --no-enforce-https
            --allow-missing-href
            --disable-external
            --swap-urls "^/personal-jekyll-theme:"
